body {
    background-color: rgb(107, 107, 107);
}
.navbar {
    background-color: transparent;
    overflow: hidden;
    font-family: helvetica;
}
.navbar a{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-family: helvetica;
    font-size: 20px;
    height: 100%;
}
.navbar a:hover{
    background-color: transparent;
    color: black;
    border-radius: 10px;
    transition: 270ms linear;
    opacity: 100%;
}
