body {
    background: url(./img/fundocontato.jpg);
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
.div1 {
    font-family: helvetica;
    font-size: 24px;
}
.navbar {
    background-color: transparent;
    overflow: hidden;
    font-family: helvetica;
}
.navbar a{
    float: right;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-family: helvetica;
    font-size: 20px;
    height: 100%;
}
.navbar a:hover{
    background-color: transparent;
    color: black;
    border-radius: 10px;
    transition: 270ms linear;
    opacity: 100%;
}
