body {
    position: relative;
    height: 100%;
    width: 100%;
    background: url(./img/teste123.webp);
    background-size: cover;
    backdrop-filter: blur(3px);
}
.voce{
    color: rgb(255, 255, 255);
    font-family: helvetica;
    font-size: 30px;
    text-align: center;
}
.text{
    display: inline;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: helvetica;
    font-size: 27px;
    float: left;
}
.navbar {
    background-color: transparent;
    overflow: hidden;
    font-family: helvetica;
}
.navbar a{
    float: right;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-family: helvetica;
    font-size: 20px;
    height: 100%;
}
.navbar a:hover{
    background-color: transparent;
    color: black;
    border-radius: 10px;
    transition: 270ms linear;
    opacity: 85%;
}