body {
    background: url(./img/England_Big_Ben.jpg);
    position: relative;
    height: 100%;
    width: 100%
    background-size: auto;
    background-repeat: no-repeat;
    backdrop-filter: blur(3px);
}
.titulo {
    color: rgb(255, 255, 255);
    font-family: didot;
    font-size: 39px;
    text-shadow: black 0.2em 0.2em 0.3em;
}
.titulo2 {
    color: white;
    font-family: didot;
    font-size: 25px;
    text-shadow: black 0.2em 0.2em 0.3em;
}
.navbar {
    background-color: transparent;
    overflow: hidden;
    font-family: helvetica;
}
.navbar a{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-family: helvetica;
    font-size: 20px;
    height: 100%;
}
.navbar a:hover{
    background-color: transparent;
    color: black;
    border-radius: 10px;
    transition: 270ms linear;
    backdrop-filter: blur(20px);
}
.bckgimg {
    object-fit: cover;
    height: 235px;
    width: 100%;
}
.text {
    text-align: center ;
    font-family: Helvetica;
    font-size: 24px;
}
.tabela{
    height: 100%;
}
.img {
    width: 75%;
    margin: 20px;
    transition: filter 0.5s;
    border-radius: 15px;
}
.img:hover {
    filter: grayscale(67%);
}
footer{
    background-color: #070a18;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.divimg {
    display: inline-block;
    position: relative;
}
.divimg figcaption {
    font-family: helvetica;
    position: absolute;
    top: 145px;
    right: 240px;
    font-size: 65px;
    color: white;
    text-shadow: 0px, 0px, 5px, black;
    text-align: center;
}