body {
    background-color: rgb(146, 138, 138);
}
.titulo {
    color: black;
}
.navbar {
    background-color: rgb(146, 138, 138);
    overflow: hidden;
}
.navbar a{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font: 1em lucida sans;
    font-size: 17px;
}
.navbar a:hover{
    background-color: #ddd;
    color: black;
    border-radius: 10px;
    transition: 250ms linear;
    opacity: 80%;
}
.bckgimg {
    object-fit: cover;
    height: 275px;
    width: 1487px;
}
.liverp {
    text-align: center ;
    font: 1em lucida sans;
    font-size: 20px;
}
.liver {
    width: 350px;
    margin: 20px;
    transition: filter 0.3s;
    border-radius: 15px;
}
.liver:hover {
    filter: grayscale(100%);
}
.leedsp {
    text-align: center ;
    font: 1em lucida sans;
    font-size: 20px;
}
.leeds {
    width: 300px;
    margin: 20px;
    transition: filter 0.3s;
    border-radius: 15px;
}
.leeds:hover {
    filter: grayscale(100%);
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

