body {
    background-color: rgb(219, 216, 205);
    background-image: linear-gradient( to bottom, rgb(19, 144, 153), rgb(228, 225, 217) 85%);
}
.titulo {
    color: black;
}
.navbar {
    background-color: transparent;
    overflow: hidden;
    font-family: helvetica;
}
.navbar a{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-family: helvetica;
    font-size: 18px;
    height: 100%;
}
.navbar a:hover{
    background-color: rgb(219, 216, 205);
    color: black;
    border-radius: 10px;
    transition: 270ms linear;
    opacity: 85%;
}
.bckgimg {
    object-fit: cover;
    height: 275px;
    width: 100%;
}
.text {
    text-align: center ;
    font-family: Helvetica;
    font-size: 24px;
}
.tabela{
    height: 100%;
}
.img {
    width: 75%;
    margin: 20px;
    transition: filter 0.5s;
    border-radius: 15px;
}
.img:hover {
    filter: grayscale(67%);
}
footer{
    background-color: #070a18;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.divimg {
    display: inline-block;
    position: relative;
}
.divimg figcaption {
    font-family: helvetica;
    position: absolute;
    top: 135px;
    right: 120px;
    font-size: 65px;
    color: white;
    text-shadow: 0px, 0px, 5px, black;
}